$red: #fb0046;
$white: #fff;

$primary: $red;
$secondary: $white;

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 20px;
    margin-bottom: 40px;
    img {
        display: block;
        width: 100%;
        max-width: 300px;
    }
}

.items-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.btn,
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    background-color: $primary;
    color: $white;
    text-align: center;
    transition: all .4s linear;
    border: 3px solid $primary;

    &.clickable {
        &:hover {
            background-color: $secondary;
            color: $primary;
        }
    }

    &.unclickable {
        opacity: .4;
    }
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    &:disabled {
        background-color: rgba($primary, .5);
    }
}

.card {
    width: 100%;
    height: 100px;
    font-size: 26px;
}


.reg-form {
    display: grid;
    place-items: center;
    &-wrapper {
        width: 100%;
        max-width: 300px;
    }
    &-error-box {
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgba($primary, 5%);
        border-radius: 3px;    
        padding: 10px;
        color: rgba($primary, 25%);
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        svg {
            width: 45px;
            height: 45px;
        }
    }
    &-title {
        text-align: center;
    }
    &-input-field {
        display: block;
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid $primary;
    
        &:focus {
            outline: none;
            box-shadow: 0 0 .2rem .1rem rgba($primary, 25%);
        }
    }
    
}

@media screen and (max-width: 767px) {
    .logo {
        margin-bottom: 40px;
        padding: 0 20px;
    }
}