* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  margin-top: 20px;
  margin-bottom: 40px; }
  .logo img {
    display: block;
    width: 100%;
    max-width: 300px; }

.items-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%; }

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
  padding: 0 20px;
  margin-bottom: 20px; }

.btn,
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  text-decoration: none;
  background-color: #fb0046;
  color: #fff;
  text-align: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  border: 3px solid #fb0046; }
  .btn.clickable:hover,
  .card.clickable:hover {
    background-color: #fff;
    color: #fb0046; }
  .btn.unclickable,
  .card.unclickable {
    opacity: .4; }

.btn {
  width: 100%;
  height: 50px;
  font-size: 16px; }
  .btn:disabled {
    background-color: rgba(251, 0, 70, 0.5); }

.card {
  width: 100%;
  height: 100px;
  font-size: 26px; }

.reg-form {
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .reg-form-wrapper {
    width: 100%;
    max-width: 300px; }
  .reg-form-error-box {
    width: 100%;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #fb0046;
    border-radius: 3px;
    padding: 10px;
    color: #fb0046;
    font-size: 14px;
    line-height: 1.2;
    text-align: center; }
    .reg-form-error-box svg {
      width: 45px;
      height: 45px; }
  .reg-form-title {
    text-align: center; }
  .reg-form-input-field {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #fb0046; }
    .reg-form-input-field:focus {
      outline: none;
      -webkit-box-shadow: 0 0 0.2rem 0.1rem #fb0046;
              box-shadow: 0 0 0.2rem 0.1rem #fb0046; }

@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 40px;
    padding: 0 20px; } }
/*# sourceMappingURL=style.css.map */